menu "OtCoap settings"

config PORIS_ENABLE_OTCOAP
    bool "Enable component OtCoap"
    default y
    help
      Enable/disable component OtCoap at Kconfig level.
      Variant gating is handled by environment variables (PORIS_ENABLE_OTCOAP).

endmenu
