// Just copy this file to WifiSecrets.h to start compiling
#pragma once

//#define WIFI_CONN_FORCE

#ifdef WIFI_CONN_FORCE
#define WIFI_CONN_FORCE_SSID "myssid"
#define WIFI_CONN_FORCE_PASSWORD "mypasword"
#endif
